<p style="text-transform: uppercase; font-weight: bold;">About Bi Square Activation</p> <br />
BI Square Activation is a digital signage and content management solution developed by our company to help businesses and organizations create, manage, and deliver their digital media in the best way possible. Built upon the robust foundation of the Xibo Digital Signage platform, BI Square Activation has been tailored and extended by our team to provide a seamless and powerful experience for managing screens, scheduling media, and connecting with audiences across a variety of environments. <br />
<br />
With BI Square Activation, you can design captivating displays, manage playlists, and control screens in retail spaces, office environments, public areas, educational institutions, and more. Our goal is to make digital signage accessible, easy to use, and customizable for every customer and application. We’ve combined advanced technology with a user-friendly interface, making it simple to create impactful digital experiences at any scale. <br />
<br />
As part of our commitment to open collaboration and transparency, BI Square Activation is built on Xibo’s open-source code and made available under the GNU Alfero General Public License v3.0 (AGPLv3). This allows you to review, download, and adapt the source code, ensuring that your digital signage solution is always aligned with your needs and priorities. <br />
<br />
<p style="text-transform: uppercase; font-weight: bold;">LICENSE & SOURCE CODE</p><br />
This software is a customized distribution of the Xibo CMS, which is licensed under the GNU Affero General Public License v3.0 (AGPLv3).   <br />
It includes modifications by HH Global to support white-labeling, additional APIs, and UI customizations. <br />
<br />
Copyright (C) 2025 HH Global Ltd <br />
All rights reserved. <br />
<br />
This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. <br />
<br />
AGPLv3 License: <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">https://www.gnu.org/licenses/agpl-3.0.html</a> <br />
Download BI Square Activation Source Code: <a href="https://github.com/hhgdigitaldev/bi-square-activation" target="_blank">https://github.com/hhgdigitaldev/bi-square-activation</a> <br />
<br />
Thank you for choosing BI Square Activation as your digital signage solution. We’re proud to support your business and help you create compelling visual experiences for your audience. <br />
<br />
For more information or to schedule a demo, please contact us at hhg_jp_digital@hhglobal.com. 